In [127]:
import pandas as pd
import numpy as np

In [128]:
youth = pd.read_csv("C:/Users/Utilisateur/Desktop/cours/Python_pour_la_data/projet/youth_alcohol/1519_drinks.csv")
tolerance = pd.read_csv("C:/Users/Utilisateur/Desktop/cours/Python_pour_la_data/projet/youth_alcohol/tolerance_alcohol.csv")

In [56]:
youth.head()

,Unnamed: 0,Unnamed: 1,"15-19 years old, current drinkers (%)","15-19 years old, current drinkers (%).1","15-19 years old, current drinkers (%).2"
0,Country,Year,Both sexes,Male,Female
1,Afghanistan,2016,0.3 [0.3-0.4],0.5 [0.4-0.7],0.1 [0.1-0.2]
2,Albania,2016,37.7 [34.8-40.5],50.5 [46-54.9],24.2 [21.1-27.6]
3,Algeria,2016,1.5 [1.3-1.8],2.3 [1.9-2.8],0.7 [0.6-0.9]
4,Andorra,2016,64.2 [-],76.6 [-],50.7 [-]

In [129]:
tolerance.head()

    Unnamed: 0 Unnamed: 1 Legal blood alcohol concentration (BAC) limits
0      Country       Year                           Young/novice drivers
1  Afghanistan       2016                                      total ban
2      Albania       2016                                          0.01%
3      Algeria       2016                                          0.02%
4      Andorra       2016                                          0.05%

In [58]:
youth.columns = ['Country','Year','15-19 years old, current drinkers both sexes (%)' , '15-19 years old, current males drinkers (%)' , '15-19 years old, current females drinkers (%)']

In [59]:
youth = youth.drop([0])
youth.head()

,Country,Year,"15-19 years old, current drinkers both sexes (%)","15-19 years old, current males drinkers (%)","15-19 years old, current females drinkers (%)"
1,Afghanistan,2016,0.3 [0.3-0.4],0.5 [0.4-0.7],0.1 [0.1-0.2]
2,Albania,2016,37.7 [34.8-40.5],50.5 [46-54.9],24.2 [21.1-27.6]
3,Algeria,2016,1.5 [1.3-1.8],2.3 [1.9-2.8],0.7 [0.6-0.9]
4,Andorra,2016,64.2 [-],76.6 [-],50.7 [-]
5,Angola,2016,33.5 [29.7-37.2],46 [39.8-52.3],21.1 [17.2-25.6]

In [16]:
youth.to_csv('youth_good.csv')

In [130]:
tolerance.columns = ['Country' , 'Year' , 'Legal blood alcohol concentration (BAC) limits for young/novice drivers']

In [133]:
tolerance.head()

,Country,Year,Legal blood alcohol concentration (BAC) limits for young/novice drivers
1,Afghanistan,2016,total ban
2,Albania,2016,0.01%
3,Algeria,2016,0.02%
4,Andorra,2016,0.05%
5,Angola,2016,0.06%

In [132]:
tolerance = tolerance.drop([0])

In [134]:
tolerance['Legal blood alcohol concentration (BAC) limits for young/novice drivers'].unique()

array(['total ban', '0.01%', '0.02%', '0.05%', '0.06%', 'none', '0.08%',
       'zero tolerance', '.', '0.03%', '0.04%', '0.07%', 'sub-national',
       '0.10%', 'Zero tolerance', 'subnational'], dtype=object)

In [135]:
tolerance['Legal blood alcohol concentration (BAC) limits for young/novice drivers'] = tolerance['Legal blood alcohol concentration (BAC) limits for young/novice drivers'].str.replace('%','')

In [136]:
tolerance['Legal blood alcohol concentration (BAC) limits for young/novice drivers'].unique()

array(['total ban', '0.01', '0.02', '0.05', '0.06', 'none', '0.08',
       'zero tolerance', '.', '0.03', '0.04', '0.07', 'sub-national',
       '0.10', 'Zero tolerance', 'subnational'], dtype=object)

In [137]:
tolerance['Legal blood alcohol concentration (BAC) limits for young/novice drivers'] = tolerance['Legal blood alcohol concentration (BAC) limits for young/novice drivers'].str.replace('none','0.0')

In [138]:
tolerance['Legal blood alcohol concentration (BAC) limits for young/novice drivers'].unique()

array(['total ban', '0.01', '0.02', '0.05', '0.06', '0.0', '0.08',
       'zero tolerance', '.', '0.03', '0.04', '0.07', 'sub-national',
       '0.10', 'Zero tolerance', 'subnational'], dtype=object)

In [139]:
tolerance['Legal blood alcohol concentration (BAC) limits for young/novice drivers'] = tolerance['Legal blood alcohol concentration (BAC) limits for young/novice drivers'].str.replace('total ban','0.0')

In [140]:
tolerance['Legal blood alcohol concentration (BAC) limits for young/novice drivers'].unique()

array(['0.0', '0.01', '0.02', '0.05', '0.06', '0.08', 'zero tolerance',
       '.', '0.03', '0.04', '0.07', 'sub-national', '0.10',
       'Zero tolerance', 'subnational'], dtype=object)

In [141]:
tolerance['Legal blood alcohol concentration (BAC) limits for young/novice drivers'] = tolerance['Legal blood alcohol concentration (BAC) limits for young/novice drivers'].str.replace('zero tolerance','0.0')
tolerance['Legal blood alcohol concentration (BAC) limits for young/novice drivers'] = tolerance['Legal blood alcohol concentration (BAC) limits for young/novice drivers'].str.replace('sub-national','0.0')
tolerance['Legal blood alcohol concentration (BAC) limits for young/novice drivers'] = tolerance['Legal blood alcohol concentration (BAC) limits for young/novice drivers'].str.replace('Zero tolerance','0.0')
tolerance['Legal blood alcohol concentration (BAC) limits for young/novice drivers'] = tolerance['Legal blood alcohol concentration (BAC) limits for young/novice drivers'].str.replace('subnational','0.0')

In [142]:
tolerance['Legal blood alcohol concentration (BAC) limits for young/novice drivers'].unique()

array(['0.0', '0.01', '0.02', '0.05', '0.06', '0.08', '.', '0.03', '0.04',
       '0.07', '0.10'], dtype=object)

In [152]:
d = tolerance[tolerance['Legal blood alcohol concentration (BAC) limits for young/novice drivers'] == '.'].index

tolerance = tolerance.drop(d)

In [153]:
tolerance['Legal blood alcohol concentration (BAC) limits for young/novice drivers'].unique()

array(['0.0', '0.01', '0.02', '0.05', '0.06', '0.08', '0.03', '0.04',
       '0.07', '0.10'], dtype=object)

In [154]:
tolerance['Legal blood alcohol concentration (BAC) limits for young/novice drivers'].astype('float64')

1      0.00
2      0.01
3      0.02
4      0.05
5      0.06
       ...
190    0.08
191    0.00
192    0.00
193    0.08
194    0.08
Name: Legal blood alcohol concentration (BAC) limits for young/novice drivers, Length: 178, dtype: float64

In [155]:
tolerance.head()

,Country,Year,Legal blood alcohol concentration (BAC) limits for young/novice drivers
1,Afghanistan,2016,0.0
2,Albania,2016,0.01
3,Algeria,2016,0.02
4,Andorra,2016,0.05
5,Angola,2016,0.06

In [156]:
tolerance.to_csv('tolerance_good.csv')